<configuration>

    <!-- 日志级别配置 -->
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n"/>
    <!-- 设置日志文件路径 -->
    <property name="LOG_DIR" value="D:/logs" /> <!-- 直接写死路径，也可以修改为变量形式 -->
    <!-- 输出到控制台 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 输出到文件，并设置文件大小和日期滚动 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/application.log</file>  <!-- 动态配置日志文件路径 -->

        <!-- 文件滚动策略 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 设置文件大小滚动，超过 10MB 时滚动 -->
            <maxFileSize>20MB</maxFileSize>

            <!-- 设置每天生成一个新的日志文件 -->
            <fileNamePattern>${LOG_DIR}/application-%d{yyyy-MM-dd}.%i.log</fileNamePattern>

            <!-- 保留日志文件的个数 -->
<!--            <maxHistory>30</maxHistory> &lt;!&ndash; 保留最近 30 天的日志 &ndash;&gt;-->
<!--            <totalSizeCap>1GB</totalSizeCap> &lt;!&ndash; 限制日志文件总大小为 1GB &ndash;&gt;-->
        </rollingPolicy>

        <!-- 日志编码 -->
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 设置根日志 -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>
